*.user
*.userprefs
.idea/
.vs/
obj/
TestResults/
LunaConfigNode/*.csproj.user
LunaConfigNode/bin/*
LunaConfigNode/obj/*
LunaConfigNodeTest/*.csproj.user
LunaConfigNodeTest/bin/*
LunaConfigNodeTest/obj/*